@model KamalOnLineShop.Models.ApplicationUser

@{
    ViewData["Title"] = "Active";
}


<h4 class="text-info"> User Active</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Active" id="user-form" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id"/>
            <div class=" p-4 border rounded">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h3 class="text-danger">@ViewBag.message</h3>
           
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName " class="form-control" readonly/>
                <span asp-validation-for="UserName " class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName"  class="form-control" readonly  />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName"  class="form-control"  readonly/>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
              
            
             




            <div class="form-group">
                <input type="submit" value="Active" class="btn btn-primary" />
               
 
                <a asp-action="Index" class="btn btn-dark">Back to List</a>

            </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
    $(document).ready(function(){
        $("#user-form").validate({
rules: {
UserName : {
required: true,
},
PasswordHash : {
required: true,
}
},
messages:{
UserName:"Enter your Email",
PasswordHash:"Enter your Password"
}

});
});

    </script>
}

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
